html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}




body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.navbar-nav .nav-link {
  color: #000 !important;
  font-weight: 500;
  margin-left: 10px;
}

.navbar-nav .nav-link:hover {
  color: #6c757d !important;
}

footer {
  background-color: #000;
  color: #ccc;
}

.btn-dark {
  background-color: #000;
  border-color: #000;
}

.btn-dark:hover {
  background-color: #444;
  border-color: #444;
}

footer .social-links a:hover {
  color: silver;
  transition: color 0.3s ease;
}

.rounded-circle {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.rounded-circle:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
